@font-face {
    font-family: 'Itim';
    src: url('Fonts/Itim-Regular.ttf') format('truetype');
  }

 html, body {
     margin: 0;
     padding: 0;
     background: #68B2F6;
     font-family: 'Itim';
}

header {
    background: #007BD3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    max-height: 15rem;
    color: #FFFFFF;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    max-height: 5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    font-size: 1.15rem;
}

table {
    border-collapse:collapse;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

table, th, td {
    padding: 0.7rem;
    margin: 0;
    text-align: left;
    height:fit-content;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

tr:first-child:hover {
    border: none;
}

tr:last-child:hover {
    border-bottom: none;
}

tr:last-child {
    border-radius: 0 20px 0 20px;
}

th, td {
    border-left: black solid 1px;
    border-right: black solid 1px;
}

th:first-child, td:first-child {
    border-left: none;
}

th:last-child, td:last-child {
    border-right: none;
}

.header-icon {
    padding: 1rem 1rem 0rem 1rem;
    max-height: 5rem;
    width: auto;
    display: inline-block;
}

.container {
    padding: 4rem;
    text-align: center;
    display: flex;
}

.main {
    padding-top: 15rem;
    justify-content: center;
    align-content: center;
}