@font-face {
    font-family: 'Itim';
    src: url('Fonts/Itim-Regular.ttf') format('truetype');
  }

 html, body {
     margin: 0;
     padding: 0;
     background: #68B2F6;
     font-family: 'Itim';
}

header {
    background: #007BD3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    max-height: 15rem;
    color: #FFFFFF;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    max-height: 5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    font-size: 1.15rem;
}

.header-icon {
    padding: 1rem 1rem 0rem 1rem;
    max-height: 5rem;
    width: auto;
    display: inline-block;
}

.container {
    padding: 4rem;
    text-align: center;
    display: flex;
}

.main {
    padding-top: 15rem;
    justify-content: center;
    align-content: center;
}