{% extends "main.html" %}
{% block content_block%}
<div class="main container block">
   <h3>
    This application was created by Dylan Green, Oliver Grönkrans and Thomas Morrison in 2023
    <br>
     as part of the batchelor in software engineering, second year,  at Yoobee Colleges, Wellington, New Zealand.
   </h3>
   <h3>
    It is written in python and uses a FLASK framework with javascript and jinja2 in the front end.
   </h3>
   <button onclick="history.back()" class="button">
    Back
    </button>
</div>
{% endblock %}