{% extends "main.html" %}
{% block content_block%}
<div class="main container block">
   <h3>
    This application was created by Dylan Green, Oliver Grönkrans, and Thomas Morrison in November 2023
    <br>
    as part of the Bachelor of Software Engineering, second year, (CS203.2 - Investigative Studio) at Yoobee
    <br>
    College of Creative Innovation, Wellington, New Zealand.
   </h3>
   <h3>
    It uses Python Flask as the back-end framework, with plain Javascript for basic front-end functions,
    <br>
    Chartist.js for data visualization and Jinja2 for templating.
   </h3>
   <button onclick="history.back()" class="button">
    Back
    </button>
</div>
{% endblock %}