{% extends "main.html" %}
{% block content_block%}
<div class="main container block">
    <div class="block">
        <p>To get started, enter the block of IP addresses you want to subnet. First enter the network ID and then it's CIDR notation, eg 192.168.0.0/24</p>
    </div>
    <div class="container">
         <form action="{{ url_for('generate_url') }}" method="post">
            <div class="input-group">
                <input type="text" value="{{ network_address }}" id="base_ip" name="base_ip" required>
                 <h1 class="ip-cidr-slash">/</h1>
                <input type="number" value="{{ cidr }}" id="base_cidr" min="1" max="30" name="base_cidr" required> 
            </div>
            <div class="input-group input-text-line">
                <label class="network-label" for="base_ip">Network Address</label> 
                 <label class="cidr-label" for="base_cidr">CIDR</label>   
            </div>
            <input class="submit" type="submit" value="Start Subnetting">
        </form>
    </div>
</div>
{% endblock %}