<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link href=" https://cdn.jsdelivr.net/npm/chartist@1.3.0/dist/index.min.css " rel="stylesheet">

    </head>
    <body>
        <header>
            <a href="{{ url_for('Index') }}"><img class="header-icon" src="{{ url_for('static', filename='Icons/SimpleSubnets.png')}}"></a>
            <h3>A simple subnet calculator for students</h3>
        </header>
        {% block content_block %}

        {% endblock %}
        <footer>
            <p>Copyright © 2023 Dylan Green, Oliver Grönkrans, Thomas Morrison</p>
            <div class="container">
            <a href="{{ url_for('AboutApp') }}" class="linkbtn">About this app</a>
            
            <a href="{{ url_for('AboutSubnets') }}" class="">About Subnets</a>
            </div>
        </footer>
        {% block js_block %}
    
        {% endblock %}
    </body>
</html>