<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    <body>
        <header>
            <img class="header-icon" src="{{ url_for('static', filename='Icons/SimpleSubnets.png')}}">
            <h3>A simple subnet calculator for students</h3>
        </header>
        {% block main_body %}
        
        {% endblock %}
        <footer>
            <p>Copyright © 2023 Dylan Green, Oliver Grönkrans, Thomas Morrison</p>
        </footer>
    </body>
</html>