{% extends subnet-results.html %}
{% block content_block%}
  <div class="input_subnet">
    
    <h1>Create Subnet</h1>
    <form>
    <div class="container">
      <h3>
        Enter the number of hosts you require in this subnet:
      </h3>
      <fieldset>
      <input type="number" min="2" id="hosts" name="hosts" required>
      </fieldset>
  
  </div>
  </form>
  <p>
    The closest subnet that can accomidate X{{(hosts)}}X hosts is / {{ generatedSubnets[(numberOfSubnets-1)].prefixlen }}
    with {{ (2 ** (32 - generatedSubnets[(numberOfSubnets-1)].prefixlen)) - 2 }} available host addresses. 
    (Two addresses are reserved for ID and broastcast).
  </p>
  <div class="container">
    
    <div class="output_param">
      <h4>ID Address</h4>
      <fieldset>
        <output type="number">{{ generatedSubnets[(numberOfSubnets-1)].network_address }}</output>
        </fieldset>
    </div>
    <div class="output_param">
      <h4>Subnet mask</h4>
      <fieldset>
        <output type="number">{{ generatedSubnets[(numberOfSubnets-1)].netmask }}</output>
        </fieldset>
    </div>
    <div class="output_param">
      <h4>First IP</h4>
      <fieldset>
        <output type="number">{{ generatedSubnets[(numberOfSubnets-1)].network_address + 1 }}</output>
        </fieldset>
    </div>
    <div class="output_param">
      <h4>Last IP</h4>
      <fieldset>
        <output type="number">{{ generatedSubnets[(numberOfSubnets-1)].broadcast_address}}</output>
        </fieldset>
    </div>
  
    <div class="output_param">
      <h4>Total hosts</h4>
      <fieldset>

        <output type="number">{{ 2 ** (32 - generatedSubnets[(numberOfSubnets-1)].prefixlen) }}</output>
        </fieldset>
       
    </div>
  </div>
  <form>
  <input class="submit create_subnet" type="submit" value="Generate Subnet">
</form>
  </div>
 {% endblock %}